body {
  text-align: center;
  background:  orange;
  font-family: "Oswald", sans-serif;
  background-image: url('asfalt-dark.png');
  background-attachment: fixed;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

a:hover {
  color:white;
}

form input{
  box-shadow: 1px 1px 2px;
}


.order{
  /*border: 1px solid black;*/
  width: 40%;
  margin: auto;
}
.order h1{
  clear:both;

}
.thumbnail_sizer{
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.thumbnail_sizer_mini{
  box-shadow: 2px 2px 3px;
  overflow: hidden;
  align-items: center;
  float: left;
  width: 140px;
  height: 140px;
  margin: 10px;
  border: 2px solid black;
}

.thumbnail_sizer_mini img{
  height: 100%;
  margin: 0px;
}

.thumbnail_sizer_mini:hover{
  border: 2px solid white;
}

.thumbnail_sizer img {
  height: 100%;
  margin: 0px;
}

.thumbnail {
  height: 100%;
  margin: 0px;
}

#navbar{
  width: 100%;
  height: 80px;
  padding-top: 30px;
  padding-left: 15px;
  margin-top: -25px;
  margin-left: -10px;
  border-bottom: 3px solid black;
  background: #e68a00;
  position: fixed;
  background-image: url('asfalt-dark.png')
}

.button {
  width: 15%;
  background-color: #cc3300;
  border: 2px solid black;
  display: inline-block;
  float:left;
  clear:left;
  box-shadow: 2px 2px 5px;
}

#navbar a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 2rem;
  color: black;
}

.button:hover {
  background: #ffcc80;
  border: 2px solid white;
}

#content{
  padding-top: 80px;
}