<h2>Artists</h2>

<% @artists.each do |artist| %>
 <div class="order">
 <p><a href="/artists/<%=artist.id%>"><%= artist.name()%></a></p>
 <div class = "thumbnail_sizer"><img src="<%=artist.img%>"></div>
 <hr>
 </div>
<%end%>

